.link{
    font-weight: 600;
    font-size:12px;
}
.link:hover, .link:active, .link:focus, .link:visited{
    color: #ff8400
   
}
.btn{
    background-color:#186f5e9c;
    transition: background-color 0.2s ease-in-out;
}
.btn:hover,
.btn:active{
    background-color: #086f73;
}