.burgerMenuButton {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    z-index: 1000;
    margin: 0;
    padding: 10px 50px;
    background-color: #000000b5;
    color: white;
    text-align: start;
    transition: color 0.2s ease-in-out
}
.burgerMenuButton:focus{
    color: #ff8800;
}
.wrapperNavigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    background-image: url('../../images/bg-app.png');
    background-position: bottom;
    background-repeat: no-repeat;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.wrapperNavigation.open {
    display: flex;
}

@media (min-width: 768px) {
    .wrapperNavigation {
        display: flex;
        position: static;
        width: 25%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        background-image: url('../../images/bg-app.png');
        background-position: bottom;
        background-repeat: no-repeat;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .burgerMenuButton {
        display: none;
    }
}

.contentLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.listNav {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    height: 30%;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 0;
}

.itemList {
    border-bottom: 1px solid #e9e9e945;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.linkNav {
    color: #ffffff;
    text-decoration: none;
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 700;
    transform: scale(1);
    transition: color 0.2s ease-in-out, transform 0.25s cubic-bezier(.4,0,.2,1);
}

.linkNav:hover {
    color: #ff8800;
    transform: scale(1.1);
}

.linkNav:active, .linkNav:focus {
    color: #ff8800;
}

.itemVisibility {
    visibility: hidden;
}
